*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inizio header*/

header{
    height: 70px;
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

header .barra-alto{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genere ul li {
    list-style: none;
}

.genere ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
}

.genere ul{
    display: flex;
}

.logo img{
    height: 70px;
}

.icone i{
    color: white;
}
/*fine header*/



/*inizio main*/

.container-img{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-img .blocco{
    width: calc('100% / 3');
    margin: 70px 0px;
}

.blocco{
    position: relative;
}

.blocco img{
    height: 600px;
}

.blocco .none{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.blocco:hover .none{
    display: block;
}

span{
    text-decoration: line-through;
}

.blocco .prezzo{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.sconto span{
    text-decoration: none;
    color:white;
    padding: 5px;
}

.sconto .red{
    background-color: red;
}

.sconto .green{
    background-color: green;
}

.sconto{
    position: absolute;
    top: 75%;
}

.heart{
    margin-top: 10px;
    padding: 20px;
    font-size: 40px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

/*fine main*/