*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inizio header*/

header{
    height: 70px;
    width: 100%;
    background-color: #ff6900;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
}

header .barra-alto{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genere ul li {
    list-style: none;
}

.genere ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
}

.genere ul{
    display: flex;
}

.logo img{
    height: 70px;
}

.icone i{
    color: white;
}
/*fine header*/



/*inizio main*/

.container-img{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-img .blocco{
    width: calc(100% / 3);
    padding: 20px;
}

.blocco{
    position: relative;
}

.blocco img{
    width: 100%;
}

.blocco .none{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.blocco:hover .none{
    display: block;
}

span{
    text-decoration: line-through;
}

.blocco .prezzo{
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.sconto span{
    text-decoration: none;
    color:white;
    padding: 5px;
}

.sconto .red{
    background-color: red;
}

.sconto .green{
    background-color: green;
}

.sconto{
    position: absolute;
    top: 75%;
}

.heart{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}
/*fine main*/

/*inizio footer*/
footer{
    background-color: #1a1a1a;
    height: 100px;
}

.barra-basso{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-basso .info ul{
    display: flex;
}

.barra-basso .info ul li{
    list-style: none;
    margin-top: 10px;
}

.barra-basso .info ul a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.info{
    color: white;
    margin: 10px 0px;
}

.social{
    color: white;
}

.social i, .social h4{
    padding: 10px;
    font-size: 20px;
}

/*fine footer*/